.app-header {
    padding: 0 5rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffd3;
    box-shadow: 0px 8px 10px -6px #dfdddd;
    .nav-container {
        ul {
            display: flex;
            li {
                a {
                    font-size: 18px;
                    // text-transform: uppercase;
                    font-family: "Fira Sans";
                    transition: border-bottom 0.9s;
                }
                ::after {
                    content: "";
                    display: block;
                    margin: auto;
                    height: 3px;
                    width: 0px;
                    background: transparent;
                    transition: width 0.5s ease, background-color 0.5s ease;
                }
                :hover:after {
                    width: 100%;
                    background: #F68E00;
                }
            }
            & > *:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
    img {
        max-width: 5rem;
    }
}
