.home-page {
    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        .logged-user-container {
            padding: 30px;
            text-align: left;
            border-radius: 5px;
            box-shadow: 0px 8px 10px -6px #dfdddd;
            h1{
                font-size: 5rem;
                font-weight: bold;
                margin-bottom: 3rem;
                font-family: 'Fira Sans', sans-serif;
                span {
                    font-size: 30px;
                }
            }
            .container {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                img {
                    margin-right: 1rem;
                    width: 40px;
                }
            }
        }
    }
}
